h1{
    color: #F5F5F3;
    letter-spacing: 4px;
    background: none;
}

h2{
    text-decoration: none;
}

.location{
    background-color: rgb(95, 188, 213);
    background: none;
}

.special{
    color: #D5B696; /* Champagne Gold */
    letter-spacing: 4px;
    font-size: 15px;
    padding: 8px 24px;
    border: 1px solid #3E3A34; 
    display: inline-block;
    
}
.name {
    font-size: 200%;
    letter-spacing: 4px;
}
.group{
    background-color: #1C1B19;
    border: 5px solid #3E3A34;
    padding: 10px 10px 30px 10px;
    margin: 30px 10px 30px 10px;
}

a:link {
    color: #E8D3BC;
    text-decoration: underline;
}

a:visited{
    color: gray;
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
}

body{
    color: #F5F5F3;
    background-color: #111111;
}

.bold{
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 5px;
}

.explanation{
    height: 1px;
    border: none;
    background: linear-gradient(to right, #3E3A34, transparent);
    margin-top: 5px;
    margin-bottom: 10px;
}

.photo {
    width: 300px;
    display: block;
    margin-top: 10px;    
    margin-bottom: 15px; 
}